@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

*:focus { outline: none; }
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Inter";
    color: #222;
    background-color: #ddd;
}

input, button { 
    font-family: inherit; 
    font-size: inherit;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logout {
    color: rgb(192, 53, 53);
    text-decoration: none;
}
.logout:hover {
    color: rgb(204, 104, 104);
}
.panel-page {
    margin: auto;
    width: 70%;
    height: 100%;
}
#container {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
}

.window {
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 10px 1px rgb(0, 0, 0, 0.3);
}

.window-title {
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
}
.fix {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
}
.register-alert {
    color: inherit;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    color: rgb(192, 53, 53);
}
.weblist-notice {
    color: inherit;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    color: rgb(124, 124, 124);
}
.weblist {
    border-radius: 10px;
}
.weblist .weblist-item {
    display: flex;
    justify-content: space-between;

}
.weblist .weblist-item:first-child {
    border-radius: 10px 10px 0px 0px;
}
.weblist .weblist-item:last-child {
    border-radius: 0px 0px 10px 10px;
}
.weblist .weblist-item a {
    text-decoration: none;
    color: #222;
    padding: 0.75em;
    width: 33%;
    text-align: right;
}
.weblist-item a:hover {
    color: rgb(153, 153, 153);
}

.weblist-item a:nth-child(1) {
    text-align: left;
    flex: auto;
}
.weblist-item:nth-child(odd) {
    background-color: rgb(213, 213, 213);
}
.weblist-item:nth-child(even) {
    background-color: rgb(233, 233, 233);
}
.ctrl-btn, .ctrl-in { transition: 0.2s ease-in; }
.ctrl-in { border: 1px solid #AAA; }
.ctrl-in:hover { border: 1px solid rgb(71, 214, 78); }
.ctrl-in:focus { box-shadow: 0px 2px 7px 1px rgb(0, 0, 0, 0.1) inset; }
.ctrl-btn {
    border: 1px solid #AAA;
    color: inherit;
    border: none;
    background-color:rgb(71, 214, 78);
    box-shadow: 0px 2px 7px 1px rgb(0, 0, 0, 0.3);
}
.ctrl-btn:hover { background-color:rgb(138, 228, 143); }
.ctrl-btn:active { background-color:rgb(59, 145, 63); }
.ctrl-link {
    color: rgb(71, 214, 78);
    text-decoration: none;
    text-align: center;
}
